PORT=3001
JWT_SECRET="CHAVE_SECRETA_AQUI"
DATABASE_URL="postgresql://project82_user:project82_password@localhost:5432/project82_db"
SEED_MANAGER_EMAIL="manager@cristorei.com.br"
SEED_MANAGER_PASSWORD="admin"
SEED_MANAGER_MATRICULA="ADM-001"
