PORT=3001
JWT_SECRET="414412"
DATABASE_URL="postgresql://project82_user:project82_password@localhost:5432/project82_db"
SEED_MANAGER_EMAIL="a@a.com"
SEED_MANAGER_PASSWORD="123456"
SEED_MANAGER_MATRICULA="ADM-001"

# ___Para a API___
# PORT=3001
# JWT_SECRET=projeto82_backend_secret_key
# DATABASE_URL="postgresql://project82_user:project82_password@postgres:5432/project82_db"
# SEED_MANAGER_EMAIL="admin@admin.com"
# SEED_MANAGER_PASSWORD="123456"
# SEED_MANAGER_MATRICULA="ADM-001"
